
<html>
    <body>
        <div id="stamps-panel" class="panel">
            <div class="intro">Choose a template and get your files stamped with metadata!</div>
            <ul id="stamps-list"></ul>
        </div>
        <div id="no-stamps" class="panel empty-state">
            <h5>No templates available, unable to stamp files</h5>
            <div>You can easily create stamp templates by uploading an empty file with extension ".stamp" and then apply metadata to it.</div>
        </div>
        <div id="no-selection" class="panel empty-state">
            <h5>No files selected</h5>
            <div>Please select one or multiple files to stamp.</div>
        </div>
    </body>
</html>