@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-weight: 400;
}

html,
body {
    font-family: Lato, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    color: #777;
}

body:not(.stamps-panel) #stamps-panel {
    display: none;
}

body:not(.no-stamps) #no-stamps {
    display: none;
}

body:not(.no-selection) #no-selection {
    display: none;
}

.empty-state {
    height: 100%;
}

.panel {
    padding: 10px 20px;
    width: 100%;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
}

li:hover {
    color: #333;
    cursor: pointer;
}

li:hover > .stamp {
    font-weight: bold;
}

.stamp {
    padding-bottom: 10px 5px;

    font-size: 13px;
    color: #009ee3;
}

.stamp-metadata-field {
    height: auto;
    max-height: 80px;

    word-break: break-word;
    overflow: hidden;
}

.stamp-metadata-value {
    font-size: 11px;
    font-weight: bold;
}

.intro {
    padding-bottom: 10px;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #ccc;
}

.empty-state {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.empty-state > h5 {
    margin: 0px;
    padding: 0 0 5px;

    font-size: 13px;
    font-weight: bold;
}
